.work_with_us {
    font-weight: bold;
    background: #FFAC12;
    border-radius: 0px 18px 0px 0px;
    line-height: 35px;
    background-image: var(--arrow_img);
    background-repeat: no-repeat;
    height: 4vw;
    width: 12vw;
    border-color: transparent;
    margin: 5vw;
}
.work_with_us:hover{
    font-weight: bold;
    position: relative;
    background: #eece93;
    border-radius: 0px 18px 0px 0px;
    line-height: 35px;
    background-image: var(--arrow_img);
    background-repeat: no-repeat;
    margin: 5vw;
}


.orange_card{
    margin: auto;
}