.black_section{
    width: 100%;
    height: 600px;
    background-color: black;
    color: red;
    border-radius: 5px solid green;
    position: relative;
    
}
.line_design {
    width: 200px;
    height: 6px;
    background: linear-gradient(
90deg
, #FFAC12 0%, rgba(0, 0, 0, 0.0001) 94.96%);
    border-radius: 2px;
}

.white_text {
    color: white;
    font-weight: 500;
    border-color: 5px solid green;
    font-size: 50px;

}

.descriptive {
    color: white;
    opacity: 0.7;
    border: 1px solid red;
    width: 376px;
    margin: auto;

}

.button_click {
    background-color: #FFAC12;
    width: 135px;
    height: 49px;

}

.black_background{
    background-color: black;
}