.detail_header{
    background-color: black;
    height: 150px;
    width: 100%;
    
}

.text-h{
    font-family: DM Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 42px;
    /* identical to box height */
    letter-spacing: -0.804102px;
    color: #FFFFFF;
}

.text-small{
    font-family: DM Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 24px;
    /* identical to box height, or 160% */

    letter-spacing: -0.376923px;
    color: #FFFFFF;
    mix-blend-mode: normal;
    opacity: 0.6;
}

.text-price{
    font-family: DM Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 42px;
    /* identical to box height */

    text-align: right;
    letter-spacing: -0.804102px;
    color: #FFFFFF;
}

.text-msquare{
    font-family: DM Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 42px;
    /* identical to box height */

    text-align: right;
    letter-spacing: -0.804102px;

    color: #FFFFFF;
}

.card_template{
    display: flex;
    flex-direction: column;
    background: #FFFFFF;
    box-shadow: 0px 32px 34px rgb(0 0 0 / 13%);
    border-radius: 25px;
    margin-top: 30px;
    width: 816px;
    height: auto;
}

.features-list{
    position: relative;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    justify-content: start;
    
}
.right_childwrapper{
    border-color: red solid 3px;
}

.left_childwrapper{
    border-color: green solid 3px;
}