.house_item_component{
     color:green;
     font-size: 2rem;
     /* display: grid; */
     order:2;
     grid-template-rows: 5fr 3fr 1fr;
     margin:0px;
     /* border: dotted 3px green; */
     width: 250px;

     border-radius: 25px;
     
     background-color: white;
     margin: 10px 40px;
}   

.house_image{
    /* border: 3px solid chocolate; */
    background-image: var(--houseimg);
    background-repeat: no-repeat;
    border-radius: inherit;
    object-fit: contain;
}
.house_title{
    border:3px solid red;
    font-size: 20px;
    color:black;
    text-align: left;
   
    margin-left: 15px;
        
}
.house_details{
    /* border:3px solid blueviolet; */
    display: grid;
    grid-template-columns: 2fr 2fr 2fr;
}

.block_component{
    color: black;
    font-size: 14px;
}

/* .slot_icon{
    background-image: var(--icon_slot);
}

.bath_icon{
    background-image: var(--bath_slot);
}

.rooms_icon{
    background-image: var(--rooms_slot);
} */