.house_detail_background{
    background-color: black;
    height: 84px;
}


.detail_header{
    background-color: black;
    height: 150px;
    width: 100%;
    
}

.text-h{
    font-family: DM Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 42px;
    /* identical to box height */

    letter-spacing: -0.804102px;

    color: #FFFFFF;
}

.text-small{
    font-family: DM Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 24px;
    /* identical to box height, or 160% */

    letter-spacing: -0.376923px;

    color: #FFFFFF;

    mix-blend-mode: normal;
    opacity: 0.6;
}


.text-price{
    font-family: DM Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 42px;
    /* identical to box height */

    text-align: right;
    letter-spacing: -0.804102px;

    color: #FFFFFF;
}

.text-msquare{
    font-family: DM Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 42px;
    /* identical to box height */

    text-align: right;
    letter-spacing: -0.804102px;

    color: #FFFFFF;
}

.left-wrapper{
    position: relative;
    left: -34%;
    top: 20%;

}

.right-wrapper{

    position: relative;
    right: 7%;
    top: -33%;
}

.contact-form{
  
    height: 600px;
    width: 333px;
    border: 3px solid green;
    
    left: 403px;
    top: 50px;
    position: relative;
    display: flex;
    flex-direction: column;

    background: #FFFFFF;
    box-shadow: 0px 32px 34px rgba(0, 0, 0, 0.133714);
    border-radius: 25px;
   
}

.view-profile{
    border: chartreuse solid 3px;
    height: 203px;
    width: 89%;
    margin: 26px auto;
    background: #F5F5F5;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
}

.form-container{
    border: chartreuse solid 3px;
    height: 100%;
    width: 100%;
    margin: 0px auto;
}

.view-more{
    height: 150px;
    width: 100%;
    border: blue solid 3px;
}
.form{
    width: 89%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    /* box-sizing: border-box; */
    font-family: DM Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 20px;
    letter-spacing: -0.376923px;
    color: #000000;
    border: 2px solid #EBEBEB;
    box-sizing: border-box;
    border-radius: 10px;
}
.contactname{

    font-family: DM Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 20px;
    /* identical to box height */
    
    letter-spacing: -0.376923px;
    
    color: #000000;
}

.profile-link{
    font-family: DM Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    line-height: 17px;
    /* identical to box height */
    
    letter-spacing: -0.326667px;
    
    color: #FFAC12;
}

.profile-text{
    /* margin: auto; */
}

.profilephoto{
    width: 63px;
    height: 61px;
    border: red dotted 3px;
    /* margin: auto; */
}

.button-viewmore{
    background: #000000;
    border-radius: 0px 18px 0px 0px;
    height: 69px;

    width: 274px;
    margin: 10px;
    position: relative;
    color: #FFFFFF;
    font-size: 24px;
    font-family: DM Sans;
    font-style: normal;
    font-weight: bold;
 
    line-height: 22px;
    letter-spacing: -0.427179px;
}
.arrow-c{
    margin: 0px 14px;
}

.imagePreviewFull{
    margin-top: 60px;
    height: auto;
    width: 814px;
    /* right: 180px; */
    /* top: 83px; */
    position: relative;
}

.big-wrapper{
    border: 3px green solid;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
}

.preview-container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height: 135px;
    width: 819px;
    border: 3px solid green;
    border-radius: 12px;
    margin-top: 30px;
    
}

.details-container{
    background-color: white;
    width: 819px;
    height: 116px;
    border-radius: 15px;
    margin-top:30px;
}

.details-title{
    font-size: 20px;
    margin-top: 20px;
    text-align: left;
    margin-left: 89px;
    font-weight: 700;
}

.details-slots{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 20px;
    position: relative;
    text-align: center;
    font-size: 17px;
    border-top: 1px rgb(165, 161, 161) solid;
        
}

.slot-box{
    height: 30px;
    width: 50px;
    
    border-right-color:  1px red;
}

.gap{
    margin:auto;
}

.image_thumbnail{
    height: 100px;
}
.description_House{
        display: flex;
        flex-direction: column;
        background: #FFFFFF;
        box-shadow: 0px 32px 34px rgba(0, 0, 0, 0.133714);
        border-radius: 25px;
        margin-top: 30px;
        width: 816px;
}

.title-description{
    font-family: DM Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 26px;
    letter-spacing: -0.502564px;
    color: #000000;
    
    width: 814px;
    height: 104px;
}

.long-text{
    font-family: DM Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 22px;
    /* or 147% */
    letter-spacing: -0.376923px;
    color: #000000;
    
    mix-blend-mode: normal;
    opacity: 0.6;

    border-top: 1px rgb(165, 161, 161) solid;

    height: 330px;
}

.title_desc{
    margin-left: 39px;
    text-align: start;
    margin-top: 41px;
    font-size: 28px;
}

.full-text{
    text-align: left;
    font-family: DM Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 22px;
    letter-spacing: -0.376923px;
    color: #000000;
    mix-blend-mode: normal;
    opacity: 10.6;
    margin: 35px;
}