.house_item_component{
     color:green;
     font-size: 2rem;
     /* display: grid; */
     order:2;
     grid-template-rows: 5fr 3fr 1fr;
     margin:0px;
     /* border: dotted 3px green; */
     width: 250px;

     border-radius: 25px;
     
     background-color: white;
     margin: 10px 40px;
}   

.house_item_component:hover{
    cursor: pointer;
}

.house_image{
    /* border: 3px solid chocolate; */
    background-image: var(--houseimg);
    background-repeat: no-repeat;
    border-radius: inherit;
    object-fit: contain;
}
.house_title{
   
    font-size: 20px;
    color: black;
    text-align: left;
    margin: 6px;
    margin-left: 13px;
        
}
.house_details{
    /* border:3px solid blueviolet; */
    display: grid;
    grid-template-columns: 2fr 2fr 2fr;
}

.block_component{
    border: 1px solid gray;
    color: black;
    font-size: 14px;
    border-left-color: coral;
    margin: 4px 0 3px;
}

.house_list_wrapper{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
    margin: auto;
    top: 2vh;
    left: 1px;
    width: 74vw;
};

.leftcomp{
    border-right-color: gray 1px solid ;
};

.rightcomp{
    border-left-color: gray 1px solid;
}

.linkstyle{
    text-decoration: none;
}