.button_atr {

    font-size: 1rem;
    font-weight: 400;
    border-radius: 0 20px 0 0;
    height: 56px;
    width: 14vw;
 
}

.clickarrow{
    background-image: var(--click_arrow);
    background-repeat: no-repeat;
    position: relative;
    height: 10px;
    width: auto;
}