.background_c{
    
    background-color: #F2F2F2;
    height: 43vw;
    width: 100vw;
    display: flex;
    position: relative;
    flex-direction: column;
}

.testimonial-line {
    background: linear-gradient(
        90deg
        , #FFAC12 0%, #000000 94.96%);
    border-radius: 2px;

    height: 4px;
    width: 336px;
    margin: 0 auto;

}

.text_desc {
    font-family: DM Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 38px;
    letter-spacing: -0.603077px;
    width: 333px;

    margin: 0 auto;
    transform-origin: center;

}

.testimonial_container{
    display: flex;
    justify-content: space-around;
    /* border: blue dotted 3px; */
    width: 700px;
    height: 133px;
    position: absolute;
    -webkit-transform: translate(-50%, 0);
    margin: 0 auto;
    top: 27vw;
    transform-origin: center;
    left: 50%;
}

.cell {
    display: flex;
    margin: auto;
    height: 100%;
    width: 20vw;
    align-items: center;
    justify-content: center;
}

.profile-pic{
    background-image: var(--imgna);
    background-repeat: no-repeat;
    height: auto;
    width: 50px;
    margin: 15px;

}


.profile-name{
    font-family: DM Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 20px;
    /* identical to box height */

    letter-spacing: -0.376923px;

    color: #000000;
}


.profile-desc{
    font-family: DM Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 20px;
    /* identical to box height */

    letter-spacing: -0.376923px;

    color: #979797;
}


.black-back{
    background-color:#000000 ;
}

.white{
    color:white;
}
.gray{
    color:gray;
}

.h-120{
    height: 120px;
}