.house_detail_background{
    background-color: black;
    height: 84px;
}

.left-wrapper{
    position: absolute;
    width: 42vw;
}

.right-wrapper{
    position: absolute;
    width: 46vw;
    right: 11vw;

}
.arrow-c{
    margin: 0px 14px;
}
.imagePreviewFull {

    width: 80%;
    margin-top: 4vw;
    position: relative;
}

.big-wrapper{
    border: 3px green solid;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    align-items: flex-start;
    text-align: center;
    min-height: 100vh;
}

.preview-container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height: 135px;

    border: 3px solid green;
    border-radius: 12px;
    margin-top: 30px;
    
}

.gap{
    margin:auto;
}

.image_thumbnail{
    height: 100px;
}


.orange_icon{
    width: 13px;
}